<span class="video-side-title">推荐列表</span>
<div class="ui unstackable divided items">

    {% for item in recommend_list %}
    <div class="item">
        <div class="ui tiny image">
            <img src="http://static.digg.com/images/886db4bd61c8413ab471c004494ff9b4_eda90d87647a765ca353cfeb9332585a_1_www_vid_large_thumb.jpeg">
            <span class="video-duration">10:20</span>
        </div>
        <div class="middle aligned content">
            <a class=" header-title" href="{% url 'video:detail' item.pk %}">{{ item.title }}</a>
            <div class="meta">
                <span class="description">{{ item.view_count }}次观看</span>
            </div>
        </div>
    </div>
    {% empty %}
    <h3>暂无推荐</h3>
    {% endfor %}

</div>