<span class="video-side-title">推荐列表</span>
<div class="ui unstackable divided items">
    <div class="item">
        <div class="ui tiny image">
            <img src="http://static.digg.com/images/886db4bd61c8413ab471c004494ff9b4_eda90d87647a765ca353cfeb9332585a_1_www_vid_large_thumb.jpeg">
            <span class="video-duration">10:20</span>
        </div>
        <div class="middle aligned content">
            <a class="  header-title">12 Years a Slave</a>
            <div class="meta">
                <span class="description">100次观看</span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui tiny image">
            <img src="http://static.digg.com/images/886db4bd61c8413ab471c004494ff9b4_eda90d87647a765ca353cfeb9332585a_1_www_vid_large_thumb.jpeg">
            <span class="video-duration">10:20</span>
        </div>
        <div class="middle aligned content">
            <a class="  header-title">12 Years a Slave</a>
            <div class="meta">
                <span class="description">100次观看</span>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui tiny image">
            <img src="http://static.digg.com/images/886db4bd61c8413ab471c004494ff9b4_eda90d87647a765ca353cfeb9332585a_1_www_vid_large_thumb.jpeg">
            <span class="video-duration">10:20</span>
        </div>
        <div class="middle aligned content">
            <a class="  header-title">12 Years a Slave</a>
            <div class="meta">
                <span class="description">100次观看</span>
            </div>
        </div>
    </div>
</div>