<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>列表组</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body{padding:50px;}
</style>
</head>
<body>
<h3>学生列表</h3>
    {% if student_list %}
    <ul class="list-group">
    {% for item in student_list %}
        <li  class="list-group-item"><a href="">{{ item.student_name }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No data.</p>
    {% endif %}

    {% if page_list  %}
    <ul class="pagination pagination-sm">

        {% if pre_page > 0 %}
        <li><a href="?p={{pre_page}}">上一页</a></li>
        {% endif %}

        {% for item in page_list %}
            {% ifequal item  current_page %}
            <li class="active"><a>{{item}}</a></li>
            {% else %}
            <li><a href="?p={{item}}">{{item}}</a></li>
            {% endifequal %}
        {% endfor %}

        {% if next_page <= page_num %}
        <li><a href="?p={{next_page}}">下一页</a></li>
        {% endif %}
    </ul>
    {% endif %}



  <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>