{% load static %}

<div class="ui sticky fixed  menu">
    <div class="ui container">
        <a href="#" class="borderless header item">
            <img class="logo" src="{% static 'img/logo.png' %}">
            视点
        </a>
        <div class="v-header-extra">
            <div class="ui small icon input v-video-search">
                <input class="prompt" type="text" placeholder="发现视频">
                <i class="search icon"></i>
            </div>
            <button class="ui tiny secondary basic button">登录</button>
        </div>
    </div>
</div>