{% extends 'base.html' %}
{% load static %}

{% block content %}

<h3 class="ui header">视频</h3>
<div class="ui grid">

    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="http://e.hiphotos.baidu.com/image/pic/item/9e3df8dcd100baa1f9fef1e94a10b912c9fc2e95.jpg">
                <i class="large play icon v-play-icon"></i>
            </div>
            <div class="content">
                <a class="header">我是标题</a>
                <div class="meta">
                    <span class="date">发布于昨天20:20</span>
                </div>
                <div class="description">
                    100次观看
                </div>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="http://e.hiphotos.baidu.com/image/pic/item/9e3df8dcd100baa1f9fef1e94a10b912c9fc2e95.jpg">
                <i class="large play icon v-play-icon"></i>
            </div>
            <div class="content">
                <a class="header">我是标题</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    我是描述信息
                </div>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="http://e.hiphotos.baidu.com/image/pic/item/9e3df8dcd100baa1f9fef1e94a10b912c9fc2e95.jpg">
                <i class="large play icon v-play-icon"></i>
            </div>
            <div class="content">
                <a class="header">我是标题</a>
                <div class="meta">
                    <span class="date">发布于昨天20:20</span>
                </div>
                <div class="description">
                    100次观看
                </div>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="http://e.hiphotos.baidu.com/image/pic/item/9e3df8dcd100baa1f9fef1e94a10b912c9fc2e95.jpg">
                <i class="large play icon v-play-icon"></i>
            </div>
            <div class="content">
                <a class="header">我是标题</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    我是描述信息
                </div>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="http://e.hiphotos.baidu.com/image/pic/item/9e3df8dcd100baa1f9fef1e94a10b912c9fc2e95.jpg">
                <i class="large play icon v-play-icon"></i>
            </div>
            <div class="content">
                <a class="header">我是标题</a>
                <div class="meta">
                    <span class="date">发布于昨天20:20</span>
                </div>
                <div class="description">
                    100次观看
                </div>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="http://e.hiphotos.baidu.com/image/pic/item/9e3df8dcd100baa1f9fef1e94a10b912c9fc2e95.jpg">
                <i class="large play icon v-play-icon"></i>
            </div>
            <div class="content">
                <a class="header">我是标题</a>
                <div class="meta">
                    <span class="date">Joined in 2013</span>
                </div>
                <div class="description">
                    我是描述信息
                </div>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="http://e.hiphotos.baidu.com/image/pic/item/9e3df8dcd100baa1f9fef1e94a10b912c9fc2e95.jpg">
                <i class="large play icon v-play-icon"></i>
            </div>
            <div class="content">
                <a class="header">我是标题</a>
                <div class="meta">
                    <span class="date">发布于昨天20:20</span>
                </div>
                <div class="description">
                    100次观看
                </div>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui card">
            <div class="image">
                <img src="http://e.hiphotos.baidu.com/image/pic/item/9e3df8dcd100baa1f9fef1e94a10b912c9fc2e95.jpg">
                <i class="large play icon v-play-icon"></i>
            </div>
            <div class="content">
                <a class="header">我是标题</a>
                <div class="meta">
                    <span class="date">发布于昨天20:20</span>
                </div>
                <div class="description">
                    100次观看
                </div>
            </div>
        </div>
    </div>

</div>

<div class="video-page">
    <div class="ui borderless pagination menu">
        <a class="item"><i class="left arrow icon"></i></a></a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="active item">5</a>
        <a class="item">6</a>
        <a class="item">7</a>
        <a class="item">8</a>
        <a class="item">9</a>
        <a class="item">10</a>
        <a class="item"><i class="icon right arrow"></i></a>
    </div>
</div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static '/css/Semantic-UI-CSS/semantic.min.js' %}"></script>
{% endblock javascript %}